.signup-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    opacity: 1;
    border: 1px solid lightgray;
}

.signup-header-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

.form-name-container {
    height: 50%;
    font: normal normal medium 25px/33px Roboto;
    font-size: larger;
    font-weight: bold;
    color: #0A0102;
    opacity: 1;
    text-transform: uppercase;
    cursor: pointer;
}

.signup-form-content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
}

.form-content {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: lowercase;
    opacity: 1;
}